[flake8]
extend-ignore = D100, D200, Q000

# D100: Missing docstring in public module
# D200: One-line docstring should fit on one line with quotes
# Q000: Double quotes found but single quotes preferred
