.DS_Store
__pycache__

**/build/*
**/install/*
**/log/*
**/ros2_mcap_test/*
**/demo_2024_file/*

# All playback subfolders
**/bag_files/**

# Robot playback file formats
*.zip
*.mcap
*.db3
*.bag



.config
.env
.vscode
.mcap
.db3