.DS_Store
__pycache__

**/build/*
**/install/*
**/log/*

# All playback subfolders
**/bag_files/**

# Robot playback file formats
*.zip
*.mcap
*.db3
*.bag

.config
.env

# Ignore everything in .vscode except the following files
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/launch.json