.DS_Store
__pycache__

**/build/*
**/install/*
**/log/*
**/ros2_mcap_test/*

# Robot playback folders
**/ros2_mcap_test/*

# Robot playback file formats
*.zip
*.mcap
*.db3
*.bag

.config
.env
.vscode
.mcap
.db3