# This file contains udev rules which symlink ports of some devices mounted to /dev to ports with easily identifiable names that
# don't change when the devices or robot itself are rebooted.
#
# The udev rules are applied on the host machine, not the Docker container.
# The name of this file starts with "99-" to ensure that it is applied after other udev rules, giving these rules highest priority.
#
# This file must be symlinked to /etc/udev/rules.d/99-robosub-ros2.rules on the robot.
# This can be done with `sudo ln -s /absolute/path/to/robosub-ros2/99-robosub-ros2.rules /etc/udev/rules.d/99-robosub-ros2.rules`, where
# /absolute/path/to/robosub-ros2/99-robosub-ros2.rules is the absolute path to this file.
#
# If the rules in this file are changed, run `sudo udevadm control --reload-rules && sudo udevadm trigger` on the host to apply the changes.
# If you don't see the changes applied, try unplugging and replugging the device(s) the rule applies to.
# If that doesn't work, try rebooting the host machine.
# If you still don't see the changes applied, the rules may be incorrect.

# Map front and bottom cameras to /dev/video_front and /dev/video_bottom
# Map only the first channel provided by the cameras to /dev/video_front and /dev/video_bottom
# NOTE: The cameras don't have any distinguishing information other than the USB port they are connected to, so
# we have to use the hardware path to distinguish them. If the USB port or hub the cameras are connected to changes,
# the hardware path will change and the rules below will need to be updated.
SUBSYSTEM=="video4linux", ENV{ID_PATH_TAG}=="pci-0000_01_00_0-usb-0_1_1_1_0", ATTR{index}=="0", SYMLINK+="video_front"
SUBSYSTEM=="video4linux", ENV{ID_PATH_TAG}=="pci-0000_01_00_0-usb-0_1_1_1_0", ATTR{index}=="4", SYMLINK+="video_front"

SUBSYSTEM=="video4linux", ENV{ID_PATH_TAG}=="pci-0000_05_00_3-usb-0_2_4_1_0", ATTR{index}=="0", SYMLINK+="video_bottom"
SUBSYSTEM=="video4linux", ENV{ID_PATH_TAG}=="pci-0000_05_00_3-usb-0_2_4_1_0", ATTR{index}=="4", SYMLINK+="video_bottom"

# The two rules below were adapted from ntnu-arl/vectornav: https://github.com/ntnu-arl/vectornav
# Map VN100 IMU to /dev/ttyUSB_VN100
SUBSYSTEM=="tty", ATTRS{idProduct}=="6001", ATTRS{idVendor}=="0403", ATTRS{serial}=="FT1WDFQ2", SYMLINK+="ttyUSB_VN100", GROUP="dialout"

# Set the FTDI USB-to-serial device latency timer to 1ms for lower communication delay; this prevents IMU messages from getting bunched up
ACTION=="add", SUBSYSTEM=="usb-serial", DRIVER=="ftdi_sio", ATTR{latency_timer}="1"
