services:
  robosub-ros2:
    extends:
      file: ../docker-compose.yml
      service: robosub-ros2
    image: robosub-ros2:latest
    tty: true
    privileged: true
    network_mode: host
    volumes:
      - /dev:/dev
      - /usr/bin/tegrastats:/usr/bin/tegrastats:ro  # ADD THIS LINE

RUN /home/ubuntu/venv/bin/pip install jetson-stats  # ADD THIS LINE