arduino:
  peripheral:
    ftdi: B0005AVT
    fqbn: arduino:avr:nano
    core: arduino:avr
    sketch: sketches/peripheral
    libraries:
      - servo
    sensors:
      - type: pressure
        tag: P
        topic: /sensors/depth
      - type: voltage
        tag: V
        topic: /sensors/voltage
      - type: temperature
        tag: TS
        topic: /sensors/temperature/signal
      - type: temperature
        tag: TB
        topic: /sensors/temperature/battery
      - type: humidity
        tag: HS
        topic: /sensors/humidity/signal
      - type: humidity
        tag: HB
        topic: /sensors/humidity/battery
  thruster:
    ftdi: A10LT2EI
    fqbn: arduino:avr:nano
    core: arduino:avr
    sketch: sketches/thruster
gyro:
  ftdi: FT81SUWZ
  zero_bias: 0.0023800993
  scale_factor: 15497811.0
  negate: true
modem:
  ftdi: CP2102
thrusters:
  - name: middle_right
    cw: false
    standard_esc: false
  - name: front_right
    cw: false
    standard_esc: false
  - name: back_right
    cw: false
    standard_esc: true
  - name: back_left
    cw: true
    standard_esc: false
  - name: middle_left
    cw: true
    standard_esc: true
  - name: front_left
    cw: true
    standard_esc: false
